nav.row.navbar-green.ui-header
	span.ui-title tight &copy; David Moritz

// SCRIPTS
script(src="/js/dependencies/sails.io.js")
script(src="/js/dependencies/jquery-2.1.4.js")
script(src="/js/dependencies/angular.1.3.js")
script(src="/js/dependencies/angular-animate.js")
script(src="/js/dependencies/angular-group-by.js")
script(src="/js/dependencies/angular-sails-bind.js")
script(src="/js/dependencies/angular-toastr.js")
script(src="/js/dependencies/angular-ui-router.js")
script(src="/js/dependencies/compareTo.module.js")
script(src="/js/dependencies/lodash-3.10.1.js")
script(src="/js/dependencies/ui-bootstrap-tpls-0.13.2.min.js")
script(src="/js/private/modules/DashboardModule.js")
script(src="/js/public/modules/AppModule.js")
script(src="/js/private/controllers/DashboardController.js")
script(src="/js/public/controllers/AwesomeController.js")
script(src="/js/public/controllers/CheckController.js")
script(src="/js/public/controllers/CreateController.js")
script(src="/js/public/controllers/HomepageController.js")
script(src="/js/public/controllers/IndexController.js")
script(src="/js/public/controllers/SignupController.js")
script(src="/js/public/controllers/TestController.js")
script(src="/js/public/controllers/player/PlayerCheckinController.js")
script(src="/js/public/controllers/player/PlayerCheckoutController.js")
script(src="/js/public/controllers/player/PlayerController.js")
script(src="/js/public/controllers/school/SchoolAddController.js")
script(src="/js/public/controllers/school/SchoolAddItemController.js")
script(src="/js/public/controllers/school/SchoolAddStudentController.js")
script(src="/js/public/controllers/school/SchoolController.js")
script(src="/js/public/controllers/school/SchoolCreateController.js")
script(src="/js/public/controllers/school/SchoolManageController.js")
script(src="/js/public/controllers/school/SchoolManageItemTypeController.js")
script(src="/js/public/controllers/school/SchoolManageItemsController.js")
script(src="/js/public/controllers/school/SchoolRentedItemsController.js")
script(src="/js/public/controllers/sport/SportAddController.js")
script(src="/js/public/controllers/sport/SportAddItemsController.js")
script(src="/js/public/controllers/sport/SportController.js")
script(src="/js/public/controllers/sport/SportCreateController.js")
script(src="/js/public/services/contacts-service.js")
script(src="/js/public/services/contacts.js")
script(src="/js/public/services/ui-router-login.js")
script(src="/js/public/services/utils-service.js")
// SCRIPTS END