#check(ui-view="")
	.row.button-collection
		a.ui-btn.ui-shadow.ui-icon-check.ui-btn-icon-right.stats-central-btn(ui-sref="check.out" data-transition="slide") Check Out
		a.ui-btn.ui-shadow.ui-icon-check.ui-btn-icon-right.stats-central-btn(ui-sref="check.in" data-transition="slide") Check In